.para1,.para2,.para3,.para4
{
position:relative;
width:100%;
height:100%;
}
body
{
overflow:hidden;
width:100%;
height:100%;
}
.para1
{
display:inline;
float:left;
left:-100%;
background-color:yellow;
}
.para2
{
display: block;
background-color:orange;
top:0;
left:99%;
}
.para3{
	position: absolute;
display:block;
float:left;
background-color:pink;
top:90%;
}
.para4{
display:block;
background-color:red;
top:-50%;
}
